.main-content-mentors-list-item{
    display: flex;
    align-items: center;
    gap: 56px;
    align-self: stretch;
}

.main-content-mentors-list-item-instructor{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.main-content-mentors-list-item-instructor-image-mask{
    mask-image: url('../../../../../assets/mask24.png');
}

.main-content-mentors-list-item-instructor-image-mask img{
    width: 24px;
    height: 24px;
}

.main-content-mentors-list-item-instructor-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.main-content-mentors-list-item-instructor-name{
    color: #202020;
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
}

.main-content-mentors-list-item-instructor-date{
    color: #5F5F5F;
    font-size: 9px;
    font-weight: 400;
    text-transform: capitalize;
}

.main-content-mentors-list-item-type{
    display: flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(112, 45, 255, 0.20);
    color: #702DFF;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
}

.main-content-mentors-list-item-title{
    color: #202020;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
}

.main-content-mentors-list-item-actions{
    display: flex;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(51, 102, 204, 0.20);
    color: #36C;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
}