.main-content-ad{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 20px;
    background-color: #702dff;
}

.main-content-ad-text{
    max-width: 40%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px 24px;
    justify-content: center;
    align-items: flex-start;
}

.main-content-ad-text-heading{
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

.main-content-ad-text-caption{
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
}

.main-content-ad-text-join{
    display: inline-flex;
    padding: 8px 12px;
    align-items: center;
    gap: 12px;
    border-radius: 40px;
    background: #202020;
}

.main-content-ad-text-join-label{
    color: #FFF;
    text-align: right;
    font-size: 12px;
    font-weight: 500;
}

.main-content-ad-text-join-btn{
    display: flex;
    padding: 6px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #FFF;
}

.main-content-ad-text-join-btn svg{
    width: 8px;
    height: 8px
}

.main-content-ad-decor {
    width: 100%;
    height: 181px;
    position: relative;
}

.main-content-ad-decor-star1 {
    fill: rgba(255, 255, 255, 0.25);
    width: 80px;
    height: 80px;
    position: absolute;
    top: 25%;
    left: 45%;
}


.main-content-ad-decor-star2{
    width: 61px;
    height: 118px;
    position: absolute;
    fill: rgba(255, 255, 255, 0.10);
    top: -10%;
    left: 75%;
}

.main-content-ad-decor-star3{
    width: 61px;
    height: 60px;
    position: absolute;
    fill: rgba(255, 255, 255, 0.10);
    top: 3%;
    left: 23%;
}

.main-content-ad-decor-star4{
    width: 80px;
    height: 80px;
    position: absolute;
    fill: rgba(255, 255, 255, 0.10);
    top: 45%;
    left: 75%;
}

.main-content-ad-decor-star5{
    width: 80px;
    height: 118px;
    position: absolute;
    fill: rgba(255, 255, 255, 0.10);
    top: 75%;
    left: 10%;
}