.sidebar-right-profile-content-mentors-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.sidebar-right-profile-content-mentors-header-button{
    border-radius: 50%;
    border: 1px solid #9e9e9e;
    display: flex;
    padding: 6px;
}

.sidebar-right-profile-content-mentors-header-button svg{
    width: 12px;
    height: 12px;
}