.main-content-search-box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    align-self: stretch;
}

.main-content-search-box svg{
    position: absolute;
    left: 10%;
}

.main-content-search-box input{
    text-indent: 20%;
    background: #FFF;
    padding: 20px 16px;
    border-radius: 12px;
    border: 1px solid rgba(204, 204, 204, 0.80);
    color: #9E9E9E;
    font-size: 12px;
    font-weight: 500;
    align-self: stretch;
}