.main-content-mentors-list-type{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30px;
}

.main-content-mentors-list-type-text{
    padding: 2px 8px;
    border-radius: 8px;
    background: rgba(112, 45, 255, 0.20);
    color: #702DFF;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
}