.sidebar-right-profile-content-mentors-list{
    display: flex;
    padding: 16px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.sidebar-right-profile-content-mentors-list svg{
    align-self: stretch;
    stroke-width: 0.5px;
    stroke: #D8D8D8;
}