.sidebar-right-profile-content-mentors-list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    gap: 8px;
}

.sidebar-right-profile-content-mentors-list-item-image-mask{
    mask-image: url('../../../../../../../assets/mask24.png');
    mask-repeat: no-repeat;
}

.sidebar-right-profile-content-mentors-list-item-image-mask img{
    width: 24px;
}

.sidebar-right-profile-content-mentors-list-item-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.sidebar-right-profile-content-mentors-list-item-details-name{
    color: #202020;
    font-size: 10px;
    font-weight: 500;
    text-transform: capitalize;
}

.sidebar-right-profile-content-mentors-list-item-details-job{
    color: #5F5F5F;
    font-size: 8px;
    font-weight: 400;
    text-transform: capitalize;
}

.sidebar-right-profile-content-mentors-list-item-follow{
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #702DFF;
    color: #FFF;
    text-align: center;
    font-size: 8px;
    font-weight: 500;
    text-transform: capitalize;
}
