.sidebar-left-top-logo{
    display: flex;
    align-items: center;
    gap: 9px;
}

.sidebar-left-top-logo-icon{
    display: flex;
    padding: 6px;
    align-items: center;
    justify-content: center;
    background-color: #702dff;
    border-radius: 50%;
}

.sidebar-left-top-logo-icon svg{
    max-width: 20px;
    max-height: 20px;
}

.sidebar-left-top-logo-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(90deg, #702DFF -3.24%, #7550FB 29.22%, #4A3AFF 74%, #4A3AFF 101.79%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}