.main-content-mentors-list-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.main-content-mentors-list-header>div{
    color: #3F3F3F;
    font-family: Inter;
    font-size: 8px;
    font-weight: 600;
    text-transform: uppercase;
}