@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.app{
    display: flex;
    gap: 32px;
    align-items: center;
    border-radius: 20px;
    background-color: #fff;
    font-family: Inter;
    justify-content: center;
    /* check this justify after main content */
}

/* Styles were originally split across seperate css files for each component.

Now they are merged into this one because that might override responsive styles from App.css.

Ask for advice. */

/* Sidebar Left */

.sidebar-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    padding: 32px;

    border-radius: 20px 0px 0px 20px;
    box-shadow: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);
}

.sidebar-left-top{
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    gap: 9px;
    overflow: hidden;
}

.logo-icon{
    display: flex;
    padding: 6px;
    align-items: center;
    justify-content: center;
    background-color: #702dff;
    border-radius: 50%;
}

.logo-icon svg{
    max-width: 20px;
    max-height: 20px;
}

.logo-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(90deg, #702DFF -3.24%, #7550FB 29.22%, #4A3AFF 74%, #4A3AFF 101.79%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.overview{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.overview-header{
    display: flex;
    padding: 8px 0px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.overview-header-text{
    color: #3F3F3F;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.overview-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    gap: 8px;
}

.overview-item{
    display: flex;
    padding: 8px 0px;
    align-items: center;
    align-self: stretch;
    gap: 12px;
    border-radius: 40px;
    overflow: hidden;
}

.overview-item-icon svg{
    width: 16px;
    height: 16px;
}

.overview-item-text{
    color: #202020;
    font-size: 16px;
    font-weight: 500;
}

.active{
    color: #702DFF;
}

.friends{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 10px;
}

.friends-header{
    display: flex;
    padding: 8px 0px;
    align-items: center;
    align-self: stretch;
}

.friends-header-text{
    color: #3F3F3F;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.friends-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.friends-item{
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.friends-item-image-mask{
    max-width: 24px;
    max-height: 24px;
    mask-image: url('./assets/mask24.png');
    mask-repeat: no-repeat;
}

.friends-item-image-mask img{
    max-width: 24px;
}

.friends-item-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.friends-item-details-name{
    align-self: stretch;
    color: #202020;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
}

.friends-item-details-job{
    align-self: stretch;
    color: #202020;
    font-size: 8px;
    font-weight: 400;
    text-transform: capitalize;
}

.sidebar-left-bottom{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    align-self: stretch;
}

.sidebar-left-bottom-settings{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.sidebars-left-bottom-settings-header{
    display: flex;
    padding: 8px 0px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.sidebar-left-bottom-settings-header-text{
    color: #3F3F3F;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.sidebar-left-bottom-settings-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    align-self: stretch;
}

.settings-item{
    display: flex;
    padding: 8px 0px;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    border-radius: 40px;
}

.settings-item-icon{
    display: flex;
    width: 16px;
    height: 16px;
    justify-content: center;
    align-items: center;
}

.settings-item-icon svg{
    width: 16px;
    height: 16px;
}

.settings-item-name{
    color: #202020;
    font-size: 16px;
    font-weight: 500;
}

/* Main Content */

.main-content{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 20px;
    align-items: center;
    align-self: stretch;
}

.search{
    display: flex;
    justify-content: center;
    gap: 12px;
    align-items: flex-start;
    align-self: stretch;
}

.search-box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    align-self: stretch;
    width: 100%;

}

.search-box svg{
    position: absolute;
    left: 4%;
}

.search-box input{
    text-indent: 6%;
    background: #FFF;
    padding: 20px 16px;
    border-radius: 12px;
    border: 1px solid rgba(204, 204, 204, 0.80);
    color: #9E9E9E;
    font-size: 12px;
    font-weight: 500;
    align-self: stretch;
    width: 100%;
}

.search-filter{
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 50px;
}

.search-filter svg{
    width: 32px;
    height: 32px;
}

.ad{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 20px;
    background-color: #702dff;
}

.ad-text{
    max-width: 40%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px 24px;
    justify-content: center;
    align-items: flex-start;
}

.ad-text-heading{
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

.ad-text-caption{
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
}

.ad-text-join{
    display: inline-flex;
    padding: 8px 12px;
    align-items: center;
    gap: 12px;
    border-radius: 40px;
    background: #202020;
}

.ad-text-join-label{
    color: #FFF;
    text-align: right;
    font-size: 12px;
    font-weight: 500;
}

.ad-text-join-btn{
    display: flex;
    padding: 6px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #FFF;
}

.ad-text-join-btn svg{
    width: 8px;
    height: 8px
}

.ad-decor {
    width: 100%;
    height: 181px;
    position: relative;
}

.ad-decor-star1 {
    fill: rgba(255, 255, 255, 0.25);
    width: 80px;
    height: 80px;
    position: absolute;
    top: 25%;
    left: 45%;
}


.ad-decor-star2{
    width: 61px;
    height: 118px;
    position: absolute;
    fill: rgba(255, 255, 255, 0.10);
    top: -10%;
    left: 75%;
}

.ad-decor-star3{
    width: 61px;
    height: 60px;
    position: absolute;
    fill: rgba(255, 255, 255, 0.10);
    top: 3%;
    left: 23%;
}

.ad-decor-star4{
    width: 80px;
    height: 80px;
    position: absolute;
    fill: rgba(255, 255, 255, 0.10);
    top: 45%;
    left: 75%;
}

.ad-decor-star5{
    width: 80px;
    height: 118px;
    position: absolute;
    fill: rgba(255, 255, 255, 0.10);
    top: 75%;
    left: 10%;
}

.watched-cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 13px;
    align-self: stretch;
}

.watched-cards-item{
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 17px;
}

.watched-cards-item-icon{
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(112, 45, 255, 0.20);
}

.watched-cards-item-icon svg{
    width: 16px;
    height: 16px;
}

.watched-cards-item-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.watched-cards-item-details-watched{
    color: #5F5F5F;
    font-size: 12px;
    font-weight: 400;
}

.watched-cards-item-details-subject{
    color: #202020;
    font-size: 12px;
    font-weight: 600;
}

.watched-cards-item-overflow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.watched-cards-item-overflow svg{
    width: 24px;
    height: 24px;
}

.videos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}

.videos-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.videos-header-text{
    color: #202020;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}

.videos-header-btns{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}

.videos-header-btns-item{
    display: flex;
    padding: 6px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #9E9E9E;
}

.videos-header-btns-item svg{
    width: 12px;
    height: 12px;
}

.videos-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    align-self: stretch;
}

.videos-item{
    display: flex;
    padding: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    box-shadow: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);
    position: relative;
}

.videos-item-thumb{
    height: 113px;
    border-radius: 12px;
    align-self: stretch;
}

.videos-item-category{
    display: flex;
    padding: 4px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(112, 45, 255, 0.20);
    color: #702DFF;
    font-size: 8px;
    font-weight: 400;
    text-transform: uppercase;
}

.videos-item-title{
    color: #202020;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
}

.videos-item-progress{
    display: flex;
    height: 6px;
    justify-content: flex-start;
    align-items: center;
    align-self: stretch;
    background-color: #d9d9d9;
    width: 100%;
    border-radius: 20px;
}

.videos-item-progress-completed{
    height: 6px;
    background-color: #702dff;
    border-radius: 20px;
}

.videos-item-uploader{
    display: flex;
    align-items: center;
    align-self: stretch;
    gap: 8px;
    border-radius: 0px 0px 20px 20px;
}

.videos-item-uploader-image-mask{
    mask-image: url('./assets/mask24.png');
}

.videos-item-uploader-image-mask img{
    width: 24px;
    height: 24px;
}

.videos-item-uploader-details{
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
}

.videos-item-uploader-name{
    color: #202020;
    font-size: 10px;
    font-weight: 500;
    text-transform: capitalize;
}

.videos-item-uploader-job{
    color: #202020;
    font-size: 8px;
    font-weight: 400;
    text-transform: capitalize;
}

.videos-item-heart{
    display: flex;
    width: 20px;
    height: 20px;
    padding: 6px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(204, 204, 204, 0.50);
    position: absolute;
    top: 7%;
    left: 79%;
}

.videos-item-heart svg{
    width: 8px;
    height: 8px;
}

.mentors{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}

.mentors-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.mentors-header-text{
    color: #202020;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}

.mentors-header-see-all{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mentors-header-see-all a{
    color: #36C;
    text-align: right;
    font-size: 12px;
    font-weight: 400;
    text-decoration-line: underline;
    text-transform: capitalize;
}

.mentors-list{
    display: flex;
    padding: 20px 24px;
    align-items: flex-start;
    justify-content: space-between;
    gap: 24px;
    align-self: stretch;
}

.mentors-list-col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    gap: 20px;
}

.mentors-list-header{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    color: #3F3F3F;
    font-family: Inter;
    font-size: 8px;
    font-weight: 600;
    text-transform: uppercase;
}

.mentors-list-instructor{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    min-height: 30px;
}

.mentors-list-instructor-image-mask{
    mask-image: url('./assets/mask24.png');
}

.mentors-list-instructor-image-mask img{
    width: 24px;
    height: 24px;
}

.mentors-list-instructor-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.mentors-list-instructor-name{
    color: #202020;
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
}

.mentors-list-instructor-date{
    color: #5F5F5F;
    font-size: 9px;
    font-weight: 400;
    text-transform: capitalize;
}

.mentors-list-type{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30px;
}

.mentors-list-type-text{
    padding: 2px 8px;
    border-radius: 8px;
    background: rgba(112, 45, 255, 0.20);
    color: #702DFF;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
}

.mentors-list-title{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30px;
}

.mentors-list-title-text{
    color: #202020;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
}

.mentors-list-action{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30px;
}

.mentors-list-action-text{
    border-radius: 8px;
    padding: 2px 8px;
    background: rgba(51, 102, 204, 0.20);
    color: #36C;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
}

/* Sidebar Right */

.sidebar-right{
    display: flex;
    padding: 32px 24px;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    align-self: stretch;
    border-radius: 0px 20px 20px 0px;
    background: #FFF;
    box-shadow: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    gap: 36px;
}

/* Check here for issues, self written styles */

.profile-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.profile-header-text{
    color: #202020;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}

.profile-header-icon{
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
}

.profile-header-icon svg{
    width: 20px;
    height: 20px;
}

.profile-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    gap: 32px;
}

.mini-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    gap: 16px;
    padding: 0px 20px;
}

.mini-profile-circle-border{
    position: relative;
}

.mini-profile-circle-image-mask{
    width: 72px;
    height: 72px;
    /*CHeck these later*/   
    mask-image: url('./assets/mask72.png');
    mask-repeat: no-repeat;
    position: absolute;
    top: 15%;
    left: 14%;
}

.mini-profile-circle-image-mask img{
    width: 72px;
}

.mini-profile-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    gap: 6px;
}

.mini-profile-details-greeting{
    color: #202020;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}

.mini-profile-details-advice{
    color: #7E7E7E;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
}

.mini-profile-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.mini-profile-icons-item{
    border-radius: 50%;
    border: 1px solid #9E9E9E;
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
}

.graphs{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /*Test flex end after this is done */
    gap: 12px; 
}

.profile-mentors{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
}

.profile-mentors-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.profile-mentors-header-button{
    border-radius: 50%;
    border: 1px solid #9e9e9e;
    display: flex;
    padding: 6px;
}

.profile-mentors-header-button svg{
    width: 12px;
    height: 12px;
}

.profile-mentors-list{
    display: flex;
    padding: 16px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.profile-mentors-list svg{
    align-self: stretch;
    stroke-width: 0.5px;
    stroke: #D8D8D8;
}

.profile-mentors-list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    gap: 8px;
}

.profile-mentors-list-item-image-mask{
    mask-image: url('./assets/mask24.png');
    mask-repeat: no-repeat;
}

.profile-mentors-list-item-image-mask img{
    width: 24px;
}

.profile-mentors-list-item-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.profile-mentors-list-item-details-name{
    color: #202020;
    font-size: 10px;
    font-weight: 500;
    text-transform: capitalize;
}

.profile-mentors-list-item-details-job{
    color: #5F5F5F;
    font-size: 8px;
    font-weight: 400;
    text-transform: capitalize;
}

.profile-mentors-list-item-follow{
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #702DFF;
    color: #FFF;
    text-align: center;
    font-size: 8px;
    font-weight: 500;
    text-transform: capitalize;
}

.profile-mentors-see-all-btn{
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background: rgba(112, 45, 255, 0.20);
    align-self: stretch;
}

.profile-mentors-see-all-btn-text{
    color: #702DFF;
    text-align: right;
    font-size: 12px;
    font-weight: 500;
}
