/* App */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

div{
    box-sizing: border-box;
}

.app{
    width: 100%;
    display: flex;
    gap: 32px;
    border-radius: 20px;
    font-family: Inter,sans-serif;
    background-color: #fff;
    justify-content: space-around;
    min-height: 100vh;
}

.sidebar-left{
    order: 1;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: space-between;
    padding: 32px;
    border-radius: 20px 0px 0px 20px;
    box-shadow: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);
}

.sidebar-left-top{
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.logo{
    display: flex;
    gap: 9px;
    align-items: center;
    padding: 6px;
}

.logo-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    background-color: #702dff;
    border-radius: 50%;
}

.logo-icon svg{
    width: 20px;
    height: 20px;
}

.logo-text{
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(90deg, #702DFF -3.24%, #7550FB 29.22%, #4A3AFF 74%, #4A3AFF 101.79%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.overview{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.overview-header{
    padding: 8px 0px;
}

.overview-header-text{
    color: #3f3f3f;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.overview-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 8px 0px;
}

.overview-item{
    display: flex;
    padding: 8px 0px;
    gap: 12px;
    align-items: center;
}

.overview-item-icon{
    display: flex;
}

.overview-item-icon svg{
    justify-content: center;
    align-items: center;
}

.overview-item-text{
    color: #202020;
    font-size: 16px;
    font-weight: 500;
}

.active{
    color: #702DFF;
}

.friends{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.friends-header{
    padding: 8px 0px;
}

.friends-header-text{
    color: #3f3f3f;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.friends-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.friends-item{
    display: flex;
    gap: 8px;
}

.friends-item-image-mask{
    max-width: 24px;
    max-height: 24px;
    mask-image: url('./assets/mask24.png');
    mask-repeat: no-repeat;
}

.friends-item-image-mask img{
    max-width: 24px;
}

.friends-item-details{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.friends-item-details-name{
    color: #202020;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
}

.friends-item-details-job{
    color: #202020;
    font-size: 8px;
    font-weight: 400;
    text-transform: capitalize;  
}

.settings{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.settings-header{
    padding: 8px 0px;
}

.settings-header-text{
    color: #3f3f3f;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.settings-list{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.settings-item{
    display: flex;
    padding: 8px 0px;
    gap: 12px;
}

.settings-item-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-icon-svg{
    width: 16px;
    height: 16px;
}

.settings-item-name{
    color: #202020;
    font-size: 16px;
    font-weight: 500;
}

/* Main Content */

.main-content{
    order: 2;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 20px 0px;
    /* align-items: center; */
}

.search{
    display: flex;
    justify-content: center;
    gap: 12px;
    width: 100%;
}

.search-box{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.search-box input{
    text-indent: 6%;
    background-color: #fff;
    padding: 20px 16px;
    border-radius: 12px;
    border: 1px solid rgba(204, 204, 204, 0.80);
    color: #9E9E9E;
    font-size: 12px;
    font-weight: 500;
    width: 100%;
}

.search-box svg{
    position: absolute;
    left: 4%;
}

.search-filter{
    display: flex;
    padding: 12px;
}

.search-filter svg{
    width: 32px;
    height: 32px;
}

.ad{
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    background-color: #702dff;
    padding: 20px 24px;
}

.ad-text{
    order: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #fff;
    justify-content: center;
    align-items: flex-start;
}

.ad-text-heading{
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

.ad-text-caption{
    font-size: 24px;
    font-weight: 600;
}

.ad-text-join{
    display: flex;
    align-items: center;
    padding: 8px 12px;
    background-color: #202020;
    border-radius: 40px;
    gap: 12px;
}

.ad-text-join-label{
    font-size: 12px;
    font-weight: 500;
}

.ad-text-join-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border-radius: 50%;
    background-color: #fff;
}

.ad-text-join-icon svg{
    width: 8px;
    height: 8px;
}

.ad-decor-star1 {
    fill: rgba(255, 255, 255, 0.25);
    width: 80px;
    height: 80px;
    position: absolute;
    top: 20%;
    left: 60%;
}


.ad-decor-star2{
    width: 61px;
    height: 118px;
    position: absolute;
    fill: rgba(255, 255, 255, 0.10);
    top: 14%;
    left: 67%;
}

.ad-decor-star3{
    width: 61px;
    height: 60px;
    position: absolute;
    fill: rgba(255, 255, 255, 0.10);
    top: 15%;
    left: 55%;
}

.ad-decor-star4{
    width: 80px;
    height: 80px;
    position: absolute;
    fill: rgba(255, 255, 255, 0.10);
    top: 25%;
    left: 67%;
}

.ad-decor-star5{
    width: 80px;
    height: 118px;
    position: absolute;
    fill: rgba(255, 255, 255, 0.10);
    top: 30%;
    left: 55%;
}

.watched-cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.watched-cards-item{
    max-width: calc(100%/3);
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 17px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);
}

.watched-cards-item-icon{
    display: flex;
    padding: 12px;
    border-radius: 50%;
    background: rgba(112, 45, 255, 0.20);
}

.watched-cards-item-icon svg{
    width: 16px;
    height: 16px;
}

.watched-cards-item-details{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.watched-cards-item-details-watched{
    color: #5f5f5f;
    font-size: 12px;
    font-weight: 400;
}

.watched-cards-item-details-subject{
    color: #202020;
    font-size: 12px;
    font-weight: 600;
}

.watched-cards-item-overflow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.watched-cards-item-overflow svg{
    width: 24px;
    height: 24px;
}

.videos{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.videos-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.videos-header-text{
    color: #202020;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}

.videos-header-btns{
    display: flex;
    gap: 12px;
}

.videos-header-btns-item{
    display: flex;
    padding: 6px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #9e9e9e;
}

.videos-header-btns-item svg{
    width: 12px;
    height: 12px;
}

.videos-list{
    display: flex;
    padding: 12px;
    width: 100%;
}

.videos-item{
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    padding: 12px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    box-shadow: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);
    position: relative;
}

.videos-item-thumb{
    max-width: 100%;
    border-radius: 12px;
}

.videos-item-category{
    display: flex;
    padding: 4px 10px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(112, 45, 255, 0.20);
    color: #702DFF;
    font-size: 8px;
    font-weight: 400;
    text-transform: uppercase;
}

.videos-item-title{
    color: #202020;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
}

.videos-item-progress{
    display: flex;
    height: 6px;
    background-color: #d9d9d9;
    width: 100%;
    border-radius: 20px
}

.videos-item-progress-completed{
    height: 6px;
    background-color: #702dff;
    border-radius: 20px;
}

.videos-item-uploader{
    display: flex;
    align-items: center;
    gap: 8px;
}

.videos-item-uploader-image-mask{
    mask-image: url('./assets/mask24.png');
}

.videos-item-uploader-image-mask img{
    width: 24px;
    height: 24px;
}

.mentors-list-instructor-image-mask{
    mask-image: url('./assets/mask24.png');
}

.mentors-list-instructor-image-mask img{
    width: 24px;
    height: 24px;
}

.videos-item-uploader-details{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.videos-item-uploader-name{
    color: #202020;
    font-size: 10px;
    font-weight: 500;
    text-transform: capitalize;
}

.videos-item-uploader-job{
    color: #202020;
    font-size: 8px;
    font-weight: 400;
    text-transform: capitalize;
}

.videos-item-heart{
    display: flex;
    padding: 6px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(204, 204, 204, 0.50);
    position: absolute;
    top: 7%;
    left: 84%;
}

.videos-item-heart svg{
    width: 8px;
    height: 8px;
}

.mentors{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mentors-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mentor-header-text{
    color: #202020;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}

.mentor-header-see-all{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mentors-header-see-all a{
    color: #36C;
    text-align: right;
    font-size: 12px;
    font-weight: 400;
    text-decoration-line: underline;
    text-transform: capitalize;
}

.mentors-list-header{
    display: flex;
    justify-content: center;
    color: #3f3f3f;
    font-size: 8px;
    font-weight: 600;
    text-transform: uppercase;
}

.mentors-list-header > *{
    width: 25%;
}

.mentors-list-header-type{
    text-align: center;
}

.mentors-list-header-title{
    text-align: center;
}

.mentors-list-header-actions{
    text-align: right;
}

.mentors-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mentors-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.mentors-item > *{
    min-width: 25%;
}

.mentors-item-instructor{
    display: flex;
    gap: 8px;
    align-items: center;
}

.mentors-instructor-image-mask{
    mask-image: url('./assets/mask24.png');
}

.mentors-instructor-image-mask img{
    width: 24px;
    height: 24px;
}

.mentors-instructor-details{
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
}

.mentors-instructor-name{
    color: #202020;
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
}

.mentors-instructor-date{
    color: #5F5F5F;
    font-size: 9px;
    font-weight: 400;
    text-transform: capitalize;
}

.mentors-item-type{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mentors-item-type-box{
    border-radius: 20px;
    padding: 2px 8px;
    background: rgba(112, 45, 255, 0.20);
}

.mentors-item-type-text{
    color: #702DFF;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
}

.mentors-item-title{
    display: flex;
    justify-content: flex-end;
}

.mentors-item-title-text{
    color: #202020;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
}

.mentors-item-action{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mentors-item-action-box{
    border-radius: 20px;
    padding: 2px 8px;
    background-color: rgba(51,102,204,0.20);
}

.mentors-item-action-text{
    color: #36c;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
}

/* Sidebar Right */

.sidebar-right{
    order: 3;
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 32px;;
    align-self: stretch;
    border-radius: 0px 20px 20px 0px;
    background: #FFF;
    box-shadow: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);
}

.profile{
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.profile-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-header-text{
    color: #202020;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}

.profile-header-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-header-icon svg{
    width: 20px;
    height: 20px;
}

.profile-content{
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.mini-profile{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    padding: 0px 20px;;
}

.mini-profile-circle-border{
    position: relative;
}

.mini-profile-circle-image-mask{
    /*CHeck these later*/   
    mask-image: url('./assets/mask72.png');
    mask-repeat: no-repeat;
    position: absolute;
    top: 15%;
    left: 14%;
}

.mini-profile-circle-image-mask img{
    width: 72px;
    height: 72px;
}

.mini-profile-details{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.mini-profile-details-greeting{
    text-align: center;
    color: #202020;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}

.mini-profile-details-advice{
    color: #7E7E7E;
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
}

.mini-profile-icons{
    display: flex;
    gap: 24px;
}

.mini-profile-icons-item{
    border-radius: 50%;
    border: 1px solid #9e9e9e;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.mini-profile-icons-item svg{
    height: 16px;
    width: 16px;
}

.graphs{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 12px;
}

.profile-mentors{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.profile-mentors-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-mentors-header-button{
    border-radius: 50%;
    border: 1px solid #9e9e9e;
    display: flex;
    padding: 6px;
    align-items: center;
    justify-content: center;
}

.profile-mentors-header-button svg{
    width: 12px;
    height: 12px;
}

.profile-mentors-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.profile-mentors-list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
}

.profile-mentors-list-item:not(:last-child){
    border-bottom: 1px solid #d8d8d8;
}

.profile-mentors-list-item-details{
    display: flex;
    gap: 8px;
}

.profile-mentors-list-item-image-mask{
    mask-image: url('./assets/mask24.png');
    mask-repeat: no-repeat;
}

.profile-mentors-list-item-image-mask img{
    width: 24px;
}

.profile-mentors-list-item-details-text{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.profile-mentors-list-item-name{
    color: #202020;
    font-size: 10px;
    font-weight: 500;
    text-transform: capitalize;
}

.profile-mentors-list-item-job{
    color: #5F5F5F;
    font-size: 8px;
    font-weight: 400;
    text-transform: capitalize;
}

.profile-mentors-list-item-follow{
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 50px; 
    background: #702DFF;
}

.profile-mentors-list-item-follow-text{
    color: #FFF;
    font-size: 8px;
    font-weight: 500;
    text-transform: capitalize;
}

.profile-mentors-see-all-btn{
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background: rgba(112, 45, 255, 0.20);
}

.profile-mentors-see-all-btn-text{
    color: #702dff;
    font-size: 12px;
    font-weight: 500;
}

@media (max-width:480px){
    .app{
        flex-wrap: wrap;
        padding: 20px;
    }

    .sidebar-left,.main-content,.sidebar-right{
        width: 100%;
        border-radius: 20px;
    }

    .sidebar-left{
        padding: 10px 20px;
        gap: 30px;
    }

    .sidebar-right{
        order: 1;
        padding: 20px 32px;
    }

    .header-icon{
        display: none;
    }

    .profile-content{
        display: none;
    }

    .overview,.friends,.sidebar-left-bottom{
        display: none;
    }

    .mobile{
        display: flex;
    }

    .sidebar-left-top{
        gap: 20px;
    }

    .ad-text{
        width: 100%;
    }

    .ad-decor{
        display: none;
    }

    .watched-cards{
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;
    }
    .watched-cards-item{
        max-width: 100%;
    }

    .videos-header{
        flex-direction: column;
        gap: 20px;
    }

    .videos-header-text{
        font-size: 24px;
    }

    .videos-header-btns{
        width: 100%;
        justify-content: space-between;
        padding: 20px 70px;
    }

    .videos-list{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .videos-item{
        width: 100%;
    }

    .mentors{
        gap: 50px;
    }

    .mentors-header{
        flex-direction: column;
        gap: 25px;
    }

    .mentors-header-text{
        font-size: 24px;
    }

    .mentors-list-header{
        display: none;
    }

    .mentors-header-see-all a{
        font-size: 18px;
    }

    .mentors-list{
        gap: 30px;
    }

    .mentors-item{
        flex-direction: column;
        gap: 20px;   
        border-radius: 20px;
        padding: 30px 10px;
        width: 100%;
        box-shadow: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);     
    }

    .mentors-item-title{
        order: -1;
    }

    .mentors-item-title-text{
        font-size: 16px;
        font-weight: 500;
    }

    .mentors-item-type-box{
        background-color: #fff;
    }

    .mentors-item-action-box{
        padding: 10px 20px;
    }

    .mentors-item-action-text{
        font-size: 14px;
    }

}